
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <p>Testing Page</p>
  {% for message in messages %}
  <p id="messages">{{message}}</p>
  {% endfor %}
  <canvas id="myChart"></canvas>

</body>
</html>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ dates|safe }},
          datasets: [{
              label: 'Money Spent',
              data: {{ totals|safe }},
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
  